@{
    ViewBag.Title = "Home Page";
}

<script>
    //设置用户信息
    zhiManager.set('userinfo', {
        partnerId: '@Model.userid',   //用户对接ID，必填，用户唯一标示，通常是企业自有用户系统中的userId
        tel: '@Model.mobile',   //电话或手机
        email: '@Model.email',   //邮箱
        uname: '@Model.name',   //昵称
        visitTitle: 'ssss',   //对话页标题，若不传入系统将获取用户打开咨询组件时所在页面的标题
        visitUrl: '',   //对话页URL，若不传入系统将获取用户打开咨询组件时所在页面的URL
        face: '@Model.avatar',   //头像URL
        realname: '@Model.name',   //真实姓名
        weibo: '',   //微博账号
        weixin: '',   //微信账号
        qq: '',   //QQ号
        sex: '@Model.gender', //0 女 1 男
        birthday: '',   //生日，如“1990-01-01”
        remark: '',   //用户的备注信息
        params: '{"等级":"VIP用户","客户状态":"意向客户"}'   //自定义用户信息字段
    });
</script>
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>