@{
    ViewBag.Title = "操作提示";
    if (ViewBag.ReferenceUrl == null)
    {
        ViewBag.ReferenceUrl = "~/";
    }
}
<!-- Page title -->
@Html.Partial("Custom/PageTitle")
<!-- End of Page title -->
<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- 左边分部小节开始 -->
        <section class="column width6 first">
            <h3>@ViewBag.Title</h3>
            <div class="box box-info">
                @ViewBag.Content
            </div>
            <a href="@Url.Content(@ViewBag.ReferenceUrl)" class="btn btn-blue">返回 </a>
        </section>
        <!-- 左边分部小节结束 -->
        <!-- 右边分部小节开始 -->
        <aside class="column width2">
            <!--快捷菜单-->
            @Html.Partial("Custom/QuickMenu", (List<SmartPortal.Models.Custom.QuickMenu>)ViewBag.QMenu)
            <!--实用的提示信息-->
            @Html.Partial("Custom/Tips", (SmartPortal.Models.Custom.Tips)ViewBag.Tip)
        </aside>
        <!-- 右边分部小节结束 -->
    </div>
    <!-- End of Wrapper -->
</div>
<!-- End of Page content -->
